.*
!.gitignore
*.log
log.*
*__pycache__/
*.json
*-info/
output/
precice-run/
*.foam
*.OpenFOAM
postProcessing/
processor*
[0-9]*/
[0-9]*.[0-9]*/
!0.org/
!0.orig/
!0/
polyMesh/
linux*/
lnInclude/
dynamicCode/
