.*
!.gitignore
*.log
log.*
*__pycache__/
*.json
*-info/
output/
precice-run/
gymprecice_run/
gymprecice.egg*/
*.foam
*.OpenFOAM
postProcessing*/
[0-9]*/
[0-9]*.[0-9]*/
!0.org/
!0.orig/
!0/
linux*/
lnInclude/
dynamicCode/
rl_gym_run*/
*.png
nohup*
env_*
wandb/
*.pickle
*.csv
*.ipynb
*.txt
RL_*/
