.*
!.gitignore
*.log
log.*
*__pycache__/
*.json
*-info/
output/
precice-run/
*.foam
*.OpenFOAM
postProcessing*/
processor*
[0-9]*/
[0-9]*.[0-9]*/
!0.org/
!0.orig/
!0/
polyMesh/
linux*/
lnInclude/
dynamicCode/
rl_gym_run*/
*.png
nohup*
env*
wandb/
*.pickle
*.csv
*.ipynb
*.txt
